/*PREVIOUS BUTTON*/
#pdf-pagination-prev {
  position: absolute;
  left: 0px;
  top: 900%;
}

/*NEXT BUTTON*/
#pdf-pagination-next {
  position: absolute;
  right: -15px;
  top: 900%;
}

/*PAGE NUMBER*/
#pdf-pagination-info {
  position: absolute;
  left: 50%;
  right: 50%;
}

/*FILE NAME*/
#file-name {
  color: white;
}

/*FILE NAME HEADER*/
#header-bar {
  background-color: grey;
}

/*BUTTONS*/

:root {
  --bg: #1e90ff;
  --fill: #ffffff;
}

/*DOWNLOAD*/

#pdf-download {
  background-color: var(--bg);
}

#pdf-download > svg > path {
  fill: var(--fill);
}
#pdf-download > svg > polygon {
  fill: var(--fill);
}

/*ZOOM OUT*/

#pdf-zoom-out {
  background-color: var(--bg);
}
#search-plus-icon {
  fill: var(--fill);
}

/*ZOOM IN*/

#pdf-zoom-in {
  background-color: var(--bg);
}

#search-plus-icon {
  fill: var(--fill);
}

/*TOGGLE PAGINATION*/

#pdf-toggle-pagination {
  background-color: var(--bg);
}
#pdf-toggle-pagination > svg > path {
  fill: var(--fill);
}

/*WHEN SCREEN WIDTH IS LESS THAN 500PX*/
@media (max-width: 560px) {
  #pdf-pagination-prev {
    top: 600%;
  }
  #pdf-pagination-next {
    top: 600%;
  }
  #pdf-pagination-info {
    position: initial;
    margin: 0 10px 0 0;
  }
}
/*WHEN SCREEN WIDTH IS LESS THAN 400PX*/
@media (max-width: 400px) {
  #pdf-pagination-prev {
    top: 450%;
  }
  #pdf-pagination-next {
    top: 450%;
  }
}
